:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}
body {
    background-color: #F0F4FA;
}
div {
    position: relative;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header>input {
    height: 1.5rem;
}
.noteContainer {
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-flow: dense;
    grid-gap: 0.5rem;
}
.liNote {
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem;
    position: relative;
    box-shadow: 1rem 1rem 2rem 0rem gray;
    list-style-type: none;
    display: grid;
    grid-auto-flow: dense;
    align-items: start;
}
.liNote > .liCases > .liCasesDate {
    display: none;
}
.liNote > .liStatus {
    display: none;
}
.liNote:nth-child(4n) > .liCases > .liCasesDate {
    display: inline;
}
.liCountry, .liProvince {
    font-weight: bold;
    font-size: 1.2em;
}
.liCases {
    display: flex;
    justify-content: space-between;
}
.liNote:nth-child(4n) {
    font-size: 1.5rem;
    grid-column: span 2;
    grid-row: span 2;
}
.liNote:nth-child(8n) {
    font-size: 1.5rem;
    grid-column: span 3;
    grid-row: span 2;
}
.liNoteStable {
    background-color: #fff9b3;
}
.liNoteRising {
    background-color: #ffb398;
}
.liNoteFalling {
    background-color: #bdffc6;
}
@media screen and (max-width: 600px) {
    .noteContainer {
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
    }
}